[submodule "JustAnotherVoiceChat.Server/thirdparty/enet"]
	path = JustAnotherVoiceChat.Server/thirdparty/enet
	url = git@github.com:lsalzman/enet.git
[submodule "JustAnotherVoiceChat.Server/thirdparty/cereal"]
	path = JustAnotherVoiceChat.Server/thirdparty/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "JustAnotherVoiceChat.Server/thirdparty/linalg"]
	path = JustAnotherVoiceChat.Server/thirdparty/linalg
	url = git@github.com:sgorsten/linalg.git
[submodule "JustAnotherVoiceChat.Server/thirdparty/JustAnotherVoiceChat"]
	path = JustAnotherVoiceChat.Server/thirdparty/JustAnotherVoiceChat
	url = git@github.com:AlternateLife/JustAnotherVoiceChat.git
